*{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;

}
body{
background-color: rgb(32, 8, 47)
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    color: darkgray;
}
h4{
    font-size: 40px;
}
h3{
    font-size: 40px;
    text-align: center;
}
h4{
    font-size: 30px;
}
.close{
    float:right;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: thistle;
}
.modal_content{
    width: 70%;
    height: 70%;
}
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.close:hover,
.close:focus{
    color:wheat;
    text-decoration: none;
    cursor: pointer;
}
.left{
    float: left;
}
.sample{
    position: absolute;
    height: 123px;
    top: 1000px;
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 119.5%;
    /* or 29px */
    color: #000000;
    }
.logoo{
    
            position: absolute;
            width: 160px;
            height: 40px;
            left: 700px;
            bottom: 75px;
            
            
}
.footerr{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 1600px;
    height: 150px;
    left: 0px;

}
.footerfont{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1200px;
    bottom: 110px;
    color: darkgray;
}
.footerfont2{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1055px;
    bottom: 40px;
    color: darkgray;
}